@import "https://untypequicode.github.io/style.css/css/style.css";
@import "https://untypequicode.github.io/style.css/css/local.css";
@import "local.css";

* {
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.section-content {
    width: 100%;
}